<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="form">
                  <h1>Sistema de Clientes</h1>
                  <p class="text-muted">Área Administrativa</p>

                  <div class="form-group">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="text" #userInput (keyup)="onKeyUser($event)" [(ngModel)]="user"
                        formControlName="user" id="user" class="form-control" placeholder="Usuário"
                        autocomplete="username">
                    </div>
                    <div
                      *ngIf="form.controls['user'].invalid && (form.controls['user'].dirty || form.controls['user'].touched)"
                      class="alert alert-danger">
                      Usuário é obrigatório.
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" #passInput (keyup)="onKeyPass($event)" [(ngModel)]="pass"
                        formControlName="pass" id="pass" class="form-control" placeholder="Senha"
                        autocomplete="current-password">
                    </div>
                    <div
                      *ngIf="form.controls['pass'].invalid && (form.controls['pass'].dirty || form.controls['pass'].touched)"
                      class="alert alert-danger">
                      Senha é obrigatório.
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <button type="button" [disabled]="!form.valid" (click)="onLogin();"
                        class="btn float-right btn-primary px-4">Login</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>