<div class="card">
    <div class="card-header">
        <strong>Endereço</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="form-group col-md-10">
                    <label for="company">Rua</label>
                    <input type="text" class="form-control" [(ngModel)]="address.street" formControlName="street" placeholder="Digite a Rua">
                    <div *ngIf="form.controls['street'].invalid && (form.controls['street'].dirty || form.controls['street'].touched)"
                        class="alert alert-danger">
                        Rua é obrigatório.
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="vat">Número</label>
                    <input type="text" class="form-control" [(ngModel)]="address.number" formControlName="number" placeholder="Digite o Número">
                    <div *ngIf="form.controls['number'].invalid && (form.controls['number'].dirty || form.controls['number'].touched)"
                        class="alert alert-danger">
                        Número é obrigatório.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label for="street">Bairro</label>
                    <input type="text" class="form-control" [(ngModel)]="address.district" formControlName="district" placeholder="Digite o Bairro">
                    <div *ngIf="form.controls['district'].invalid && (form.controls['district'].dirty || form.controls['district'].touched)"
                        class="alert alert-danger">
                        Bairro é obrigatório.
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="street">Complemento</label>
                    <input type="text" class="form-control" [(ngModel)]="address.complement" formControlName="complement"
                        placeholder="Digite o Complemento">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-8">
                    <label for="city">Cidade</label>
                    <input type="text" class="form-control" [(ngModel)]="address.city" formControlName="city" placeholder="Digite a Cidade">
                    <div *ngIf="form.controls['city'].invalid && (form.controls['city'].dirty || form.controls['city'].touched)"
                        class="alert alert-danger">
                        Cidade é obrigatório.
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label for="postal-code">Estado</label>
                    <input type="text" maxlength="2" [(ngModel)]="address.state" class="form-control" formControlName="state"
                        placeholder="Digite o Estado">
                    <div *ngIf="form.controls['state'].invalid && (form.controls['state'].dirty || form.controls['state'].touched)"
                        class="alert alert-danger">
                        Estado é obrigatório.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <a (click)="onSaveAddress();" class="btn   float-right btn-success" style="cursor:pointer; color: white;">Salvar
                    Endereço</a>

                <a (click)="onClose();" class="btn  float-right btn-danger"
                    style="margin-right: 15px; cursor:pointer; color: white;">Cancelar</a>
            </div>
        </form>
    </div>
</div>