<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <strong>Cliente</strong>
        </div>
        <div class="card-body">
            <form [formGroup]="form">
                <div class="row">
                    <div class="form-group col-md-9">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" [(ngModel)]="customer.name" formControlName="name"
                            placeholder="Digite o Nome">
                        <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"
                            class="alert alert-danger">
                            Nome é obrigatório.
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="birthday">Data de Nascimento</label>
                        <input class="form-control" formControlName="birthday" [(ngModel)]="customer.birthday"
                            type="date" name="date-input" placeholder="date">
                        <div *ngIf="form.controls['birthday'].invalid && (form.controls['birthday'].dirty || form.controls['birthday'].touched)"
                            class="alert alert-danger">
                            Data de Nascimento é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="city">CPF</label>
                        <input type="text" class="form-control" [(ngModel)]="customer.document_cpf"
                            formControlName="document_cpf" placeholder="Digite o CPF">
                        <div *ngIf="form.controls['document_cpf'].invalid && (form.controls['document_cpf'].dirty || form.controls['document_cpf'].touched)"
                            class="alert alert-danger">
                            CPF é obrigatório.
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="postal-code">RG</label>
                        <input type="text" class="form-control" [(ngModel)]="customer.document_rg"
                            formControlName="document_rg" placeholder="Digite o RG">
                        <div *ngIf="form.controls['document_rg'].invalid && (form.controls['document_rg'].dirty || form.controls['document_rg'].touched)"
                            class="alert alert-danger">
                            RG é obrigatório.
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="country">Telefone</label>
                        <input type="text" class="form-control" [(ngModel)]="customer.phone" formControlName="phone"
                            placeholder="Digite o Telefone">
                            <div *ngIf="form.controls['phone'].invalid && (form.controls['phone'].dirty || form.controls['phone'].touched)"
                            class="alert alert-danger">
                            Telefone é obrigatório.
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <a (click)="onSaveCustomer();"  class="btn   float-right btn-success" style="cursor:pointer; color: white;">Salvar
                        Cliente</a>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="customer.id > 0;">
        <app-customer-address-list [idCustomer]="customer.id"></app-customer-address-list>
    </div>

</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Carregando... </p></ngx-spinner>