<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header ">
                    <strong>Clientes</strong>
                    <a [routerLink]="['/customer']" class="btn  float-right btn-primary" style="color: white;">Novo
                        Cliente</a>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Data de Nascimento</th>
                                <th>CPF</th>
                                <th>RG</th>
                                <th>Telefone</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Yiorgos Avraamu</td>
                                <td>01/01/1998</td>
                                <td>465.802.238-98</td>
                                <td>54.255.598-0</td>
                                <td>19 3445-1394</td>
                                <td>
                                    <a [routerLink]="['/customer']" style="font-size: 18px;"><i
                                            class="cui-pencil icons "></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Yiorgos Avraamu</td>
                                <td>01/01/1998</td>
                                <td>465.802.238-98</td>
                                <td>54.255.598-0</td>
                                <td>19 3445-1394</td>
                                <td>
                                    <a [routerLink]="['/customer']" style="font-size: 18px;"><i
                                            class="cui-pencil icons "></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Yiorgos Avraamu</td>
                                <td>01/01/1998</td>
                                <td>465.802.238-98</td>
                                <td>54.255.598-0</td>
                                <td>19 3445-1394</td>
                                <td>
                                    <a [routerLink]="['/customer']" style="font-size: 18px;"><i
                                            class="cui-pencil icons "></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Yiorgos Avraamu</td>
                                <td>01/01/1998</td>
                                <td>465.802.238-98</td>
                                <td>54.255.598-0</td>
                                <td>19 3445-1394</td>
                                <td>
                                    <a [routerLink]="['/customer']" style="font-size: 18px;"><i
                                            class="cui-pencil icons "></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Yiorgos Avraamu</td>
                                <td>01/01/1998</td>
                                <td>465.802.238-98</td>
                                <td>54.255.598-0</td>
                                <td>19 3445-1394</td>
                                <td>
                                    <a [routerLink]="['/customer']" style="font-size: 18px;"><i
                                            class="cui-pencil icons "></i></a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Próxima</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>

</div>