<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header ">
                    <strong>Clientes</strong>
                    <a [routerLink]="['/customer']" class="btn  float-right btn-primary" style="cursor:pointer; color: white;">Novo
                        Cliente</a>
                </div>

                <div class="card-body">

                    
                    <span>Mostrando {{customers.Data.length}} de {{customers.TotalRecords}} registros.</span>    
                    

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th style="text-align: center;">Data de Nascimento</th>
                                <th>CPF</th>
                                <th>RG</th>
                                <th>Telefone</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let customer of customers.Data">
                                <td>{{customer.name}}</td>
                                <td style="text-align: center;">{{customer.birthday}}</td>
                                <td>{{customer.document_cpf}}</td>
                                <td>{{customer.document_rg}}</td>
                                <td>{{customer.phone}}</td>
                                <td>
                                    <a [routerLink]="['/customer/', customer.id]" style="font-size: 18px;"><i
                                            class="cui-pencil icons "></i></a>
                                </td>
                                <td>
                                    <a (click)="onDeleteCustomer(customer.id)" style="font-size: 18px;"><i
                                            class="cui-trash icons " style="cursor: pointer;"></i></a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <ul class="pagination">                        
                        <li class="page-item"><a class="page-link" (click)="priorPage()" style="cursor: pointer;" >Anterior</a></li>                        
                        <li class="page-item"><a class="page-link" (click)="nextPage()" style="cursor: pointer;">Próxima</a></li>                        
                    </ul>
                    <span>Página {{page}}  de {{customers.TotalPages}} página(s).</span>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>

</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Carregando... </p></ngx-spinner>